<nav class="todo-nav">
    <h3>Category</h3>
    <ul class="todo-nav-cat">
        <li><a href="/">Today</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/work">Work</a></li>
    </ul>
</nav>